/* CSS Document */

body, tr, td, page {
	font-family:Tahoma, "ו";
	text-align: left;
	font-size: 12px;
	background-color:#FFFFFF;
}

table.outter_main {
	width: 85%;
}

table.outter_main tr td {
	background-color: #330099;
}

table.inner_main {
	width: 100%;
	height:100%;
}

table.inner_main tr th {
	background-color: #EEE;
	font-size: 12px;
}

table.inner_main tr td {
	background-color: #FFF;
}

table.inner_main tr.odd td {
	background-color: #FFF;
}

table.inner_main tr.even td {
	background-color: #EEE;
}